<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base-email :: email-layout(~{::.content})}">

    <div class="content">

        <p>
            Chào <strong th:text="${customerName}">Khách hàng</strong>,
        </p>

        <p>
            <strong>HUNG HYPEBEAST</strong> vui mừng thông báo đơn hàng
            <strong th:text="${orderNumber}">#ORDER123</strong>
            của bạn đã được <strong>giao thành công</strong>.
        </p>

        <p>
            Hy vọng bạn sẽ thật sự hài lòng với sản phẩm.
            Đừng quên check-in và tag chúng mình để khoe outfit nhé!
        </p>

        <p>
            Nếu có bất kỳ vấn đề nào liên quan đến sản phẩm, bạn có thể xem chi tiết đơn hàng hoặc gửi yêu cầu hỗ trợ tại đây:
        </p>

        <p style="margin: 30px 0; text-align: center;">
            <a th:href="${trackingUrl}" class="btn">
                XEM CHI TIẾT ĐƠN HÀNG
            </a>
        </p>

        <p>
            Cảm ơn bạn đã tin tưởng và ủng hộ HUNG HYPEBEAST!
        </p>

        <p style="margin-top: 40px;">
            Trân trọng,<br>
            <strong>HUNG HYPEBEAST Team</strong>
        </p>

    </div>
</html>
