name: Local CI

on:
  push:
    branches: [ develop, main ]
  pull_request:

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_DB: ecommerce_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: tuanhm43
        ports:
          - 5432:5432

      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
        env:
          discovery.type: single-node
          xpack.security.enabled: false
        ports:
          - 9200:9200

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run Tests
        run: mvn test

      - name: Build JAR
        run: mvn clean package -DskipTests

      - name: Build Docker image
        run: docker build -t ecommerce-api .

      - name: Run docker-compose
        run: |
          docker-compose -f docker-compose.dev.yml up -d
          sleep 20
          docker ps
